<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold text-white mb-4">Click Logs for /<%= @short_url.short_path %></h1>
    <%= link_to 'Back', :back, class: "btn-primary py-3 rounded-lg" %>
  </div>

  <p class="text-lg text-gray-300 mb-4">Original URL: <%= @original_url %></p>
  <p class="text-lg text-gray-300 mb-4">Total Clicks: <%= @total_clicks %></p>

  <% if @click_logs.empty? %>
    <div class="card shadow overflow-hidden sm:rounded-lg p-4">
      <p class="text-gray-500">No click logs found.</p>
    </div>
  <% else %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @click_logs.each do |log| %>
        <div class="card shadow overflow-hidden sm:rounded-lg p-4">
          <div class="mb-2">
            <h3 class="text-lg leading-6 font-medium text-gray-200">IP Address:</h3>
            <p class="mt-1 text-sm text-gray-300"><%= log.ip_address %></p>
          </div>
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-200">Clicked At:</h3>
            <p class="mt-1 text-sm text-gray-300"><%= log.clicked_at.strftime("%B %d, %Y %H:%M") %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
