<h1>Shortened URLs</h1>
<table>
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short Path</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @short_urls.each do |short_url| %>
      <tr>
        <td><%= short_url.original_url.url %></td>
        <td>
          <% if short_url.short_path.present? %>
            <%= link_to short_url.short_path, short_url_path(short_url.short_path) %>
          <% else %>
            No short path
          <% end %>
        </td>
        <td>
          <% if short_url.short_path.present? %>
            <%= link_to 'Stats', stats_short_url_path(short_url.short_path) %>
          <% else %>
            No short path
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
