<div class="w-full">
  <section class="container">
    <h1 class="text-2xl font-bold text-white">URL Shortener</h1>
  </section>
  <section class="container mt-10">
    <div class="card">
      <%= form_with(model: @short_url, local: true) do |form| %>
        <div class="flex gap-5 items-end">
          <div class="w-7/12">
            <%= form.label :original_url, "Original URL", class: "text-white" %>
            <%= form.text_field :original_url, required: true, id: "url", class: "form-input", placeholder: "Enter target URL here" %>
          </div>
          <div class="w-3/12">
            <%= form.label :short_path, "Short Path (Optional)", class: "text-white" %>
            <%= form.text_field :short_path, maxlength: 15, id: "shortPath", class: "form-input", placeholder: "Maximum 15 characters" %>
          </div>
          <div class="w-2/12">
            <%= form.submit "Shorten", class: "btn-primary py-3 rounded-lg w-full" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="container mt-10">
    <h2 class="text-xl font-bold text-white pb-5">Shortened URLs</h2>
    <div class="grid grid-cols-2 gap-4">
      <% @short_urls.each do |short_url| %>
        <div class="card bg-white p-4 shadow-md rounded-lg">
          <h3 class="font-bold">Original URL:</h3>
          <p><%= short_url.original_url.url %></p>
          <h3 class="font-bold">Short Path:</h3>
          <p>/<%= short_url.short_path.present? ? short_url.short_path : "No short path" %></p>
          <h3 class="font-bold">Clicks:</h3>
          <p><%= short_url.click_logs.count %></p>
          <button onclick="copyToClipboard('<%= request.base_url + short_url_path(short_url.short_path) %>')" class="btn btn-secondary">Copy Link</button>
          <%= link_to 'Logs', short_url_click_logs_path(short_url.short_path), class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </section>
</div>

<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
      alert('URL copied to clipboard');
    }, function(err) {
      console.error('Could not copy text: ', err);
    });
  }
</script>
