@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
body{
  @apply text-white/70 bg-black relative;
}


.btn{
    @apply text-white/80 py-2 px-4 rounded-full;
    background: linear-gradient(88.68deg, #D97706 -36.99%, #F59E0B 111.2%);
}
.btn-rouned{
    @apply rounded-full;
}
.bg-primary{
    background: linear-gradient(88.68deg, #D97706 -36.99%, #F59E0B 111.2%);
}
.card{
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl p-5 min-w-[350px];
}

.card-error{
    @apply bg-red-500/5 backdrop-blur-lg border border-red-700/30 rounded-xl p-3 text-red-500;
}

input[type="text"], input[type="email"], input[type="password"]{
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-lg w-full py-2 px-3;
}

input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    @apply text-white/80 opacity-50;
  }

  .btn-primary {
    @apply py-2 px-4 bg-orange-400;
  }
  
label{
    @apply text-white/50 text-xs pl-1 mb-1;
}
